:root {
  --red: #c00;
  --lightgrey: #c6c6c6;
  --grey: #767676;
  --darkgrey: #333;
  --bg: #f7f7f7;
}

@import './styles/ie11.css';

#covidcast-classic {
  margin: 0;
  padding: 0;
  position: relative;
  flex: 1 1 0;

  display: flex;
  flex-direction: column;
}

.base-font-size {
  font-size: 0.88rem;
}

#covidcast-classic [aria-hidden='false'] {
  display: none;
}

@import './styles/loading.css';
@import './styles/message-overlay.css';
@import './styles/vega.css';
@import './styles/tooltip.css';
@import './styles/uikit.css';
@import './styles/mobile.css';
